* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(239, 237, 237);
  padding: 1.5rem;
}
body {
  direction: rtl;
}
.right-header {
  display: flex;
  justify-content: space-between;
  width: 16%;
}
.search-header {
  width: 45%;
  position: relative;
}
.search-header i {
  position: absolute;
  left: 0.7rem;
  top: 0.5rem;
  color: gray;
}
.search-header input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
}
.left-header {
  display: flex;
  justify-content: space-between;
  width: 18%;
}
.left-header button {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(67, 67, 152);
  color: rgb(67, 67, 152);
}
main video {
  width: 90%;
}
.wrapper {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main {
  grid-column: 1/3;
}
.comment {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 1rem;
}
.settings {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  gap: 0.5rem;
}
.card video {
  width: 45%;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login {
  margin-top: 0.3rem;
}
